body {
    font-family: Arial, sans-serif;
    background-color:rgb(184, 24, 184);
}

.converter {
    max-width: 400px;
    margin: 170px auto;
    padding: 30px;
    background-color:beige;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

input[type="number"], select {
    width: 375px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p#result {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
